import 
button {
  background-image: url("./gmk_mizu.jpg");
  background-size: 300px;
  cursor: pointer;
  border: 0;
  min-width: 300px;
  min-height: 300px;
  color: #fff;
  font-size: 32px;
}

button2 {
  background-image: url("./gmk_mizu.jpg");
  background-size: 300px;
  cursor: pointer;
  border: 0;
  min-width: 300px;
  min-height: 300px;
  color: #fff;
  font-size: 32px;
}