.resetSetButton {
  background: #ED4337;
  border: 1px solid #ccc;
  padding: 10px 30px;
  border-radius: 3px;
  cursor: pointer;
}

.includeSetBox {
  padding-left: 20px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.square {
  float:left;
  position: relative;
  width: 20%;
  padding-bottom : 20%; 
  margin:1%;
  background-color:#333;
  overflow:hidden;
}

.home-gmk {
  font-size:20px;
  color: #fff;
  text-align:center;
  margin:0;
  padding:0;
}

.content {
  position:absolute;
  padding: 5%;
  width:auto;
  height:auto;
}

.rs{
  max-height:90%;
  max-width:100%;
}

.nav-bar {
  background-color: #333;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.home-button {
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 32px;
}

.graph {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-header {
  font-size: 40px;
}

.home-page {
  display: flex;
  flex-direction: column;
}

.info {
  background-color: #333;
  color:#fff;
  font-size: 20px;
  padding: 20px;
}

dt {
  font-size: 26px;
}